.benefits {
	background: #f4f4f4;
	padding: 100px 0 70px 0;
	background-size: cover;
	color: black;
  }
  
.our-process {
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	padding-top: 100px;
	padding-bottom: 100px;
	.tab-content .row {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.circle-number {
		height: 38px;
	}
	  
}

.no-webp .our-process {
	background-image: url("../images/background-intermission.jpg");
}

.webp .our-process {
	background-image: url("../images/background-intermission.webp");
}